* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Neutral
$Neutral-900: hsl(0, 0%, 7%);
$Neutral-800: hsl(0, 0%, 15%);
$Neutral-500: hsl(240, 3%, 46%);
$Neutral-400: hsl(240, 1%, 59%);
$Neutral-0: hsl(0, 0%, 100%);
// Blue
$Blue-600: hsl(214, 100%, 55%);
$Blue-400: hsl(210, 100%, 65%);
// Red
$Red-500: hsl(354, 63%, 57%);
// Green
$Green-500: hsl(140, 63%, 57%);
// Yellow
$Yellow-400: hsl(49, 85%, 70%);

body {
  font-size: 1rem;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: $Neutral-0;
  background: $Neutral-900;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Header */
header {
  width: 100%;

  & div.header-top,
  & div.header-bottom div.labels,
  & div.header-bottom div.dropdown {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  & .left {
    display: flex;
    align-items: center;
    gap: 1rem;
    & h1 {
      font-size: 1.5rem;
    }
    & p {
      font-size: 0.75rem;
      color: $Neutral-400;
    }
  }

  & div.header-top {
    margin-bottom: 2rem;
    & span.txt {
      color: $Neutral-500;
    }
  }

  & div.header-bottom {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;

    & > * {
      padding: 0.5rem 0;
    }

    & div.labels {
      & div {
        padding: 0 1rem;
        text-align: center;
        color: $Neutral-500;

        & span {
          display: block;
          color: $Neutral-0;
          font-weight: bolder;
          font-size: 1.5rem;
        }
      }

      & div:nth-child(2) {
        border-left: 1px solid $Neutral-800;
        border-right: 1px solid $Neutral-800;
      }
    }

    & div.dropdown {
      justify-content: flex-start;
      gap: 1rem;
      color: $Neutral-400;

      & div.radio {
        text-align: center;
        border: 1px solid $Neutral-800;
        border-radius: 0.5rem;
        width: 50%;
        padding: 0.5rem 0.25rem;
        position: relative;

        & div.radio-button,
        & div.unlimited {
          display: flex;
          justify-content: center;
          align-items: center;
          & img {
            padding-left: 0.5rem;
          }
        }
        & div.options {
          position: absolute;
          text-align: left;
          background: $Neutral-800;
          border-radius: 0.5rem;
          padding: 0.5rem 0;
          width: 100%;
          margin-top: 1rem;
          z-index: 100;

          & div {
            border-bottom: 1px solid $Neutral-500;
            padding: 0.5rem 0.8rem;

            & input[type="radio"] {
              -webkit-appearance: none;
              appearance: none;
              width: 15px;
              height: 15px;
              border: 1px solid $Neutral-400;
              border-radius: 50%;
              background-color: $Neutral-800;
            }

            & input[type="radio"]:checked {
              background: initial;
              border: none;
              box-shadow: inset 0 0 0 4px $Blue-600;
            }

            & label {
              padding-left: 0.5rem;
            }
          }

          & div:last-child {
            border: none;
          }
        }
        & div input[type="button"] {
          background: transparent;
          outline: 0;
          color: $Neutral-0;
          padding: 0.3rem 0.5rem;
          border: 1px solid $Neutral-500;
          border-radius: 0.3rem;
          margin: 0 0.25rem;
          cursor: pointer;

          &:hover {
            border: 1px solid $Blue-600;
            color: $Blue-600;
          }
        }
      }
    }
  }

  border-bottom: 1px solid $Neutral-800;
}

.hidden {
  display: none;
}
.checked {
  border: 1px solid $Blue-600 !important;
  color: $Blue-600 !important;
}

main.typing-container {
  overflow: scroll;

  #typing-board {
    white-space: pre-wrap;
    position: relative;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    overflow: visible;

    & span {
      color: $Neutral-500;
      position: relative;
    }

    & .correct {
      color: $Green-500;
    }

    & .incorrect {
      color: $Red-500;
      border-bottom: 2px solid $Red-500;
    }

    & .active {
      position: relative;
    }

    & .active::before {
      content: "";
      position: absolute;
      left: -2px;
      top: 0;
      width: 2px;
      height: 1.5rem;
      background: $Neutral-0;
      animation: blink 1s infinite;
    }
    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
  }
  #cursor {
    position: absolute;
    width: 2px;
    height: 1.2rem;
    background: $Neutral-0;
    animation: blink 1s infinite;
    transition: transform 0.15s ease;
  }

  @keyframes blink {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
}

footer {
  border-top: 1px solid $Neutral-800;
  padding: 1rem;
  display: flex;
  justify-content: center;
  color: $Neutral-0;
  background: $Neutral-900;
  padding-bottom: 0;
  width: 100%;

  & div.restart {
    padding: 1rem;
    background: $Neutral-800;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 600px) {
  header {
    & div.header-bottom {
      display: flex;
      flex-direction: column;
      @media (min-width: 900px) {
        flex-direction: row;
      }
      justify-content: space-between;

      & div.labels {
        & div {
          display: flex;
          flex-direction: row;
          align-items: center;

          & span {
            font-size: 1.2rem;
          }
        }
      }
      & div.dropdown {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;

        & div.radio {
          border: none;
          & div {
            display: flex;
          }
        }

        & div.radio.diff {
          display: flex;
          flex-direction: row;
          width: 100%;

          & div.radio-button {
            justify-content: flex-start;
          }

          & div.options {
            position: static;
            z-index: inherit;
            background: none;
            margin-top: 0;
          }
        }

        & div.radio.mode {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: flex-end;

          & div.unlimited {
            justify-content: flex-end;
          }

          & div.options {
            position: static;
            z-index: inherit;
            background: none;
            margin-top: 0;
          }
        }

        & p {
          display: block;
        }
      }
    }
  }
}
